<h4>Composition-based Quality Control</h4>
<p style="font-size:10px">We capitalize on the compositional nature of RNA-seq data to develop a quality control metric for sequencing runs</p>
<ul style="font-size:10px">
  <li>The number of reads/sample is constrained by total reads/sequencing run</li>
  <li>We expect the proportion of reads each sample is allocated to be apprx. equal</li>
  <li>CLR transformation allows the use of standard outlier detection methods (Cook's Distance/ GOF)
</ul>
<img src="./ASA_Poster_Content/images/CLR_QC.png" style="width:400px;height:195;">
<div class="col-sm-10">
  <p style="font-size:10px"><b>Figure 4.</b>Heatmap of CLR transformed reads showing the samples with an outlying proportion of the total reads in a sequencing run.</p>
</div>
<div class="col-sm-2">
  <p align="right">
    <a href = "javascript:void(0)" onclick = "document.getElementById('content5').style.display='block';document.getElementById('fade').style.display='block'">Expand</a>
  </p>
</div>


